.hero-block{

   .hero-block-img{
      @include media-breakpoint-down(md) {
         display: none;
      }
   }

   .hero-background-image {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      pointer-events: none;
   }

   .mouse-icon {
      position: absolute;
      animation:  MoveUpDown 3s linear infinite;
      bottom: $spacer * 2;
      left: 49%;
      svg{
         rect{
            stroke: $primary;
         }
         ellipse{
            fill:$primary;
         }
      }

   }
}