.category-header{
   padding-top: $header-height;
   padding-bottom: $header-height * 2;

   .mid-square-background{
      position: absolute;
      top: 0;
      right: 0;     
   }
   .smallest-square-background{
      position: absolute;
      right: 125px;
      top: 200px;
      animation: Rotating 60s linear infinite;
   }
}

.category-wrapper{
   margin-top: -$header-height * 2;   
}

// category/blog section
.single-blog{
   overflow: hidden;
   z-index: 1;
   box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);

   .blog-body{
      background: $body-bg;
   }
}
