#main{
   min-height: 80vh;
   margin-top: -$header-height;
}

// category/blog section
.single-blog{
   overflow: hidden;
   z-index: 1;
   box-shadow: 0px 9px 20px rgba(187, 187, 187, 0.25);

   .blog-header-aside{
      margin-top: -80px;
      margin-left: 20%;
      background: $body-bg;
      border-top-left-radius: $border-radius-lg;
   }

   .blog-body{
      background: $body-bg;
   }
}
