.hero-block{

   .hero-background-image {
      position: absolute;
      top: 0;
      right: 0px;
      z-index: -1;

      // svg{
      //    stop{
      //       &:nth-child(2){
      //          stop-color:$primary;
      //       }
      //    }
      // }
   }

   .mouse-icon {
      position: absolute;
      bottom: 24px;
      left: 50%;
      svg{
         rect{
            stroke: $primary;
         }
         ellipse{
            fill:$primary;
         }
      }

   }
}