.add-read-more.show-less-content .second-section,
.add-read-more.show-less-content .read-less {
   display: none;
}

.add-read-more.show-more-content .read-more {
   display: none;
}

.add-read-more .read-more,
.add-read-more .read-less {
   font-weight: bold;
   margin-left: 2px;
   color: $primary;
   cursor: pointer;
}
.slide-read-more{
    overflow:hidden;
}
.slide-read-more-button{
    cursor: pointer;
    text-align: right;
    margin-top: 8px;
    color: $primary;
    display: none;
}