.site-header{
   height: $header-height;
   
   .row{
      .burger-menu{
         z-index: 10;
      }

      .logo-wrapper{
         z-index: 10;
         .logo-img {
            max-height: 50px;
         }
      }

      .login-wrapper{
         z-index: 10;
         @include media-breakpoint-down(md) {
            display: none;
         }
      }
   }
}