#full-screen{
   transition: all .25s ease-out;
   position: fixed;
   z-index: 2;
   top: 0;
   left: -100%;

   .menu{
      list-style-type: none;
      padding-left: 0;
      margin-left: 43%;
      @include media-breakpoint-down(md) {
         margin-left: $spacer * 3;
      }

      .menu-item{

         &.menu-item-has-children{
            cursor: pointer;
            margin-left: -50px;

            &:before{
               content: "+";
               font-size: 3 * $font-size-base;
               color: $primary;
               margin-right: $spacer;
            }
         }

         .sub-menu{
            list-style-type: none;
            display: none;
            padding-left: 50px;
            a{
               font-size: 2.5 * $font-size-base;
               &:before{
                  content: "-";
                  margin-right: $spacer;
               }
            }
         }

         a{
            position: relative; 
            font-size: 3 * $font-size-base;
            font-weight: bold;
            color: $primary;
            text-decoration: none;
         }
         a:after {    
            bottom: 0;
            content: "";
            display: block;
            height: 4px;
            left: 50%;
            position: absolute;
            background: $primary;
            transition: width 0.7s ease 0s, left 0.7s ease 0s;
            width: 0;
         }
         a:hover:after { 
            width: 100%; 
            left: 0; 
         }

      }
   }
}
