// Colours
$primary-colour: #2E266F;
$black: #000000;
$body-colour: #707070;
$backgroud-colour: #FFEDDE;
$second-colour: #FE043C;
$third-colour: #31A24C;
$white: #FFF5EC;

// Sizes
$body-size: 16px;
$container: 1500px;
$spacing: 16px;
