// Colours
$primary: #2E266F;
$secondary: #F2F9FF;
$black: #000000;
$green: #31A24C;
$white: #FFF5EC;
$body-color: #646464;
//$body-bg: #FFEDDE;

// Sizes
$font-size-base: 1rem;
$container: 1500px;
$spacer: 1rem;
