// Colours
$primary: #2E266F;
$secondary: #F2F9FF;
$black: #000000;
$green: #31A24C;
$body-color: #646464;
$light: #F2F9FF;
//$body-bg: #FFEDDE;

// Sizes
$font-size-base: 1rem;
$container: 1350px;
$spacer: 1rem;
$header-height: 100px;

// Border Radius
$border-radius:  .5rem;
$border-radius-lg: 1rem;
$border-radius-sm: .25rem;
