#footer{
   position: relative;
   overflow: hidden;

   .footer-wrapper{
      .row{
         .footer-left-section{
            .footer-area-one-wrapper{
               background-color: lighten($primary, 10);

               @include media-breakpoint-down(md) {
                  height: auto !important;
                  margin-right: 0 !important;
                  padding-top: $spacer *2;
                  padding-bottom: $spacer *2;
                  margin-top: $spacer;
                  margin-bottom: $spacer;
               }
            }
         }
         .footer-right-section{
            .footer-area-two-wrapper{
               border-bottom: 1px solid rgba($light, 0.25);
            }
         }
         .footer-area{
            .menu{
               list-style-type: none;
               padding-inline-start: 0;
               .menu-item{
                  margin-bottom: $spacer * 0.5;
                  a{
                     color: $white;
                  }
               }
            }
            .footer-area-title{
               color: $light;
            }
         }
      }
   }

   .mid-square-background{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      pointer-events: none;
   }
   .smallest-square-background{
      position: absolute;
      left: 100px;
      bottom: -100px;
      z-index: 0;
      pointer-events: none;
   }
}